@model EmployeeDetails_AJAX_.Models.Employee

<div>
    <h4>Employee Details</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9">@Model.Surname</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9">@Model.Age</dd>

        <dt class="col-sm-3">Hire Date</dt>
        <dd class="col-sm-9">@Model.Hiredate</dd>
    </dl>
</div>
